<a href="https://colab.research.google.com/github/eloigil/ai-course/blob/master/09-algebra-in-python/04_matrix_product_transposition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [6]:
A = np.array([[2,3],[5,7],[11,13]])
B = np.array([[1,3],[2,1]])
print(A)
print(B)

[[ 2  3]
 [ 5  7]
 [11 13]]
[[1 3]
 [2 1]]

In [0]:
AB_t = A.dot(B).T
B_tA_t = B.T.dot(A.T)

In [8]:
print(AB_t == B_tA_t)

[[ True  True  True]
 [ True  True  True]]