<a href="https://colab.research.google.com/github/eloigil/ai-course/blob/master/11-practical-fundamentals-for-ml/01_intro_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [3]:
series = pd.Series([5,10,15,20,25])
series

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [4]:
type(series)

pandas.core.series.Series

In [6]:
cad = pd.Series(['p','a','n','d','a','s',])
cad

0    p
1    a
2    n
3    d
4    a
5    s
dtype: object

In [7]:
list = ['hello', 'world', '!']
df = pd.DataFrame(list)
df

       0
0  hello
1  world
2      !

In [10]:
data = { 'name': ['eloi', 'laia'], 'age': [27, 29], 'country': ['CAT','CAT'] }
df = pd.DataFrame(data)
df

   name  age country
0  eloi   27     CAT
1  laia   29     CAT